#global { z-index: 10000; position: absolute; top: 0; left: 0; width: 100%; }

.content_wrap { padding: 0 0 0 0;}
  .content_wrap a {color: #7b68ee; text-decoration: none; }
  .content_wrap h6 { font-size: 1.5em;}
  .content_wrap p { padding: 10px 0 10px 0;}
  .content_wrap ul { margin: 10px 0 10px 0}
  .content_wrap ul li { padding-left: 10px; list-style: inside disc;}

.c_body { padding: 20px 0 20px 0;}


.p_item_descr { text-align: center; font-size: 1.2em; padding: 20px 0 20px 0;}
.portfolio_slider_wrap { margin: 0px 0 0px 0;}
.portfolio-details-info { margin-bottom: 30px;}

.portfolio-item .portfolio-content-overlay h3 { margin-right: 40px;}

#portfolio_work { padding: 30px 0 30px 0;}
#portfolio_work .portfolios-details-desc .features-text {}
#portfolio_work .portfolios-details-desc .features-text p { font-size: 18px;}
#portfolio_work .work_list { padding: 30px 0 0 0;}


.service_section .content { padding: 60px 0;}
.service_section .items_list { padding-bottom: 60px;}
.service_section .groups_list { padding-bottom: 60px;}


.main-banner-content .social-icon-list {}
.main-banner-content .social-icon-list li a {font-size: 58px; width: 60px; height: 60px;}
.home-3 .main-banner-content { padding-top: 30px}

.txt_wrap { width: 100%  ;flex-grow: 1; flex-shrink: 0;}
.txt_wrap .button_compred_phone { width: auto; display: flex; flex-direction: row; flex-wrap: nowrap; }
.head_button { text-transform: uppercase; letter-spacing: 1px;}
.head_button i { margin-right: 8px; font-size: 14px;}


.package .head { display: flex; flex-direction: column;}
.package .head .title {
  color: #223A76;
  font-size: 38px;
  font-weight: 600;
  padding: 0px 0 0 30px;
  text-align: center

}


  .package .head .discount { color: #FFC500; font-size: 40px; font-weight: 900; text-align: center}
  .package .head .discount_hi { color: #FF5A5F;}
.package .descr {font-size: 20px; padding: 10px 0 10px 0; text-align: center}
.package .oldprice { color: #666; font-size: 24px; text-decoration: line-through; text-align: center}
.package .oldprice span {font-size: 20px; margin-right: 10px; text-decoration: none}

#compred .buttons {display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; align-items: center;}
#compred .buttons .btn_compred { flex-grow: 1; flex-shrink: 0;}
#compred h1 { font-size: 45px;}
#compred strong {color:#00D9EA;}
#compred .content_wrap ul {
  color: #FFF;}
a.blue_link {font-size: 20px; color: #223A76; text-decoration: underline}
a.blue_link:hover { text-decoration: none}
#page_head.item-bg2 {
  background-image: none;
  height: 200px;
  background-color: #00D9EA;
}

.price_desc {padding:0px 0 0 0;}
.price_desc h3 { padding:90px 0 0 0; font-size: 36px; color: #223A76; font-weight: 900; text-align: center}

#page_head .page-title-area::before { background-color: #E5F7FD; }
#DebugPanel { display: block; /*background-color: #E5F7FD;*/ background-color: #223A76; margin: 0px 0; padding: 30px 0;}

.item-bg2 {
  background-image: url('@/assets/images/header_back.png');
  background-position: bottom center;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.item {
  padding: 10px;
  background: #ddd;
  width: 100px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Transition classes */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.4s, transform 0.4s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(0.9);
}


.content h3 {
  color: #223A76;
  font-size: 24px;
  padding-bottom: 15px;
}

.content h6 {
  color: #FFC500;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content h6 strong {
  color: #FF5A5F;
}
.content p {
  font-size: 16px;
}

.content ul { padding: 10px 0 10px 20px;}
.content ul li { color: #5f5f5f; font-size: 16px; padding-bottom: 10px; list-style: disc;}



.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* BUTTONS AND OTHER UI EL */
.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  display: inline-block;
  background-color: #223A76;
  box-shadow: 0 7px 25px rgb(12, 144, 199,0.25);
  margin-top: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: none;
}

.btn span {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  display: block;
  border-radius: 30px;
  color: #223A76;
  background-image: -webkit-linear-gradient(45deg, #f44336 48%, #ff9800 56%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.btn:hover, .btn:focus {
  color: #223A76;
}

.btn:hover span, .btn:focus span {
  width: 200%;
  height: 500px;
}