

.content_wrap { padding: 0 0 0 0;}
  .content_wrap a {color: #7b68ee; text-decoration: none; }
  .content_wrap h6 { font-size: 1.5em;}
  .content_wrap p { padding: 10px 0 10px 0;}
  .content_wrap ul { margin: 10px 0 10px 0}
  .content_wrap ul li { padding-left: 10px; list-style: inside disc;}

.c_body { padding: 20px 0 20px 0;}


.p_item_descr { text-align: center; font-size: 1.2em; padding: 20px 0 20px 0;}
.portfolio_slider_wrap { margin: 0px 0 0px 0;}
.portfolio-details-info { margin-bottom: 30px;}


.service_section .content { padding: 60px 0;}
.service_section .items_list { padding-bottom: 60px;}
.service_section .groups_list { padding-bottom: 60px;}


.main-banner-content .social-icon-list {}
.main-banner-content .social-icon-list li a {font-size: 58px; width: 60px; height: 60px;}


.txt_wrap { width: 100%  ;flex-grow: 1; flex-shrink: 0;}
.txt_wrap .button_compred_phone { width: auto; display: flex; flex-direction: row; flex-wrap: nowrap; }
.head_button { text-transform: uppercase; letter-spacing: 1px;}

#compred .buttons {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#compred .buttons .btn_compred { flex-grow: 1; flex-shrink: 0;}
#compred h1 { font-size: 45px;}
#compred strong {color:#00D9EA;}
#compred .content_wrap ul {
  color: #FFF;}


.item-bg2 {
  background-image: url('@/assets/images/header_back.png');
  background-position: bottom center;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.item {
  padding: 10px;
  background: #ddd;
  width: 100px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Transition classes */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.4s, transform 0.4s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(0.9);
}


.content h3 {
  color: #223A76;
  font-size: 24px;
  padding-bottom: 15px;
}

.content h6 {
  color: #FFC500;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content h6 strong {
  color: #FF5A5F;
}
.content p {
  font-size: 16px;
}

.content ul { padding: 10px 0 10px 20px;}
.content ul li { color: #5f5f5f; font-size: 16px; padding-bottom: 10px; list-style: disc;}